/*socialed-style.css */
/* Own stylesheet for SocialED */

* {
  margin: 0px;
  padding: 0px;
  font-family: Brush Script MT,cursive; 
  font-size: 1.05rem;
}

#container {
  background-color: #d5f6ff;
  border: 2px solid black;
  color: #2A2929; /* dark grey */
  margin: 10px;
  padding: 15px;
}
p {
  padding: 10px;
  font-style: italic;
}
label {
  color: rgb(162, 0, 255);
}
a:link{
 color:black;

 }
a:hover {
  color:green;
}
h1 {
   color:magenta;
   font-size:20pt;
}
form {
  margin-top: 20px;
  background-color:#FAFFFE;
  border: 2px solid rgb(162, 0, 255);
  padding: 20px;
}
.inputs {
  padding-top: 5px;
  padding-bottom: 5px;
}

