/*socialed-style.css */
/* Own stylesheet for SocialED */

* {
  margin: 0px;
  padding: 0px;
  font-family: Brush Script MT,cursive; 
  font-size: 1.05rem;
}

#container {
  background-color: #d5f6ff;
  border: 2px solid black;
  color: #2A2929; /* dark grey */
  margin: 10px;
  padding: 15px;
}
p {
  padding: 10px;
  font-style: italic;
}
label {
  color: rgb(162, 0, 255);
}
a:link{
 color:black;

 }
a:hover {
  color:green;
}
h1 {
   color:magenta;
   font-size:20pt;
}
h2 {
  color:red;
  font-size:15pt;
}

form {
  margin-top: 20px;
  background-color:#FAFFFE;
  border: 2px solid rgb(162, 0, 255);
  padding: 20px;
}

.inputs {
  padding-top: 10px;
  padding-bottom: 10px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 5px;
}

#pie {
  background-color: #d5f6ff;
  border: 2px solid black;
  color: #2A2929; /* dark grey */
  margin: 10px;
  text-align: center;
  padding: 0px;
}
#pie  p{
  font-size:10pt;
  font-style: normal;
  font-weight: bold;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
#indice{
  text-align: center;
}
