{% extends "base.html" %}
{% block titulo %}
SocialED
{% endblock %}
{% block contenido %}
<h1>Hola, Has llegado hasta SocialED</h1>
<div>
    {% if logged %}
        <p>Ya puedes ir a  <b>Inicio</b> para comenzar a realizar aportaciones</p>
    {% else %}
        <p>Escoge <b>Registro</b> si eres un nuevo usuario</p>
        <p>Elige <b>Acceso</b> si quieres acceder a SocialED</p>
        <p>Selecciona <b>Inicio</b> para comenzar a realizar aportaciones</p>
    {% endif %}
</div>
{% endblock %}